/* xs Device Start*/

@media(max-width:575.99px) {
    .navbar-brand {
        transform: scale(0.9);
    }

    .navbar-nav li {
        margin: 0 auto;
    }

    .nav-btn {
        margin: 0 auto;
    }

    .nav-item:hover .nav-hover {
        background-color: rgba(255, 0, 0, 0);
    }

    #navbarSupportedContent {
        margin-top: 30px;
    }

    .banner-content h1 {
        padding-right: 0;
        font-size: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .banner-content p {
        padding-right: 0;
        text-align: center;
    }

    .banner-content button {
        padding: 12px 15px;
        font-size: 15px;
        font-weight: 600;
        margin: 0 auto;
    }

    .banner-img picture img {
        margin-top: 35px;
        border-radius: 20px !important;
        margin-left: 0px;
    }

    .pla-btn-icon {
        top: 31%;
        left: 29%;
        transform: scale(0.8);
    }

    .workspace-header h2 {
        font-size: 30px;
        width: auto;
    }

    .workspace-header p {
        width: auto;
    }

    .schedule-header h2 {
        font-size: 25px;
        width: auto;
    }

    #schedule {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .analytics-content p {
        width: auto;
    }

    .customer-content h2 {
        font-size: 30px;
    }

    .helping-wrapper p {
        font-size: 16px;
        width: auto;
        text-align: center;
        padding: 0 10px;
    }

    .customer-info h3 {
        margin-left: 0;
    }

    .customer-slide {
        margin-left: 0;
    }

    .helping-wrapper h2 {
        font-size: 25px;
        text-align: center;
    }

    .customer-info h3 {
        text-align: center;
    }

    .helping-wrapper {
        background-color: #0C5F79;
        border-radius: 15px;
        padding: 30px 0px;
    }

    .helping-wrapper p {
        font-size: 18px;
        width: auto;
        text-align: center;
        padding: 0 10px;
    }

    #helping {
        padding-bottom: 20px;
    }

    .footer-site-info p {
        padding-right: 0;
    }

    .footer-site-info {
        text-align: center;
    }

    .footer-social {
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .footer-location {
        text-align: center;
    }

    .analytics-content {
        padding-left: 30px;
    }
}

/* xs Device End*/

/* SM Device Start */

@media(min-width:576px) and (max-width:767px) {
    .navbar-brand {
        transform: scale(0.9);
    }

    .navbar-nav li {
        margin: 0 auto;
    }

    .nav-btn {
        margin: 0 auto;
    }

    .nav-item:hover .nav-hover {
        background-color: rgba(255, 0, 0, 0);
    }

    #navbarSupportedContent {
        margin-top: 30px;
    }

    .banner-content h1 {
        padding-right: 0;
        font-size: 38px;
        margin-top: 30px;

    }

    .banner-content p {
        padding-right: 0;
        /* text-align: center; */
        font-size: 17px;
    }

    .banner-content button {
        padding: 12px 15px;
        font-size: 15px;
        font-weight: 600;
        margin: 0 auto;
    }

    .banner-img picture img {
        margin-top: 35px;
        border-radius: 20px !important;
        margin-left: 0px;
    }

    .pla-btn-icon {
        top: 32%;
        left: 31%;
        transform: scale(0.8);
    }


    #workspace {
        margin-top: 50px;

    }

    .workspace-header h2 {
        font-size: 30px;
        width: auto;
    }

    .workspace-header p {
        width: auto;
    }

    .schedule-header h2 {
        font-size: 25px;
        width: auto;
    }

    #schedule {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .analytics-content p {
        width: auto;
    }

    .customer-content h2 {
        font-size: 30px;
    }

    .customer-content p {
        color: #C6C6C6;
        font-size: 17px;
        margin-top: -40px;
        margin-left: 0;
        text-align: center;
    }

    .customer-info h3 {
        margin-left: 0;
    }

    .customer-slide {
        margin-left: 0;
    }

    .helping-wrapper h2 {
        font-size: 25px;
        text-align: center;
    }

    .customer-info h3 {
        text-align: center;
    }

    .helping-wrapper p {
        font-size: 17px;
        width: auto;
        text-align: center;
        padding: 0 10px;
    }

    #helping {
        padding-bottom: 20px;
    }

    .helping-wrapper {
        background-color: #0C5F79;
        border-radius: 20px;
        padding: 45px 0px;
    }

    .footer-site-info p {
        padding-right: 0;
    }

    .footer-site-info {
        text-align: center;
    }

    .footer-social {
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .footer-location {
        text-align: center;
    }

    .analytics-content {
        padding-left: 30px;
    }

    .customer-vector-right img {
        width: 113%;
    }

    .customer-vector-left img {
        width: 80%;
    }

    .customer-vector-left {
        position: absolute;
        top: 95px;
        left: -53px;
        z-index: 1;
    }
}

/* SM Device END */

/* MD Device Start */

@media(min-width:768px) and (max-width:991px) {
    .navbar-brand {
        transform: scale(0.9);
    }

    .navbar-nav li {
        margin: 0 auto;
    }

    .nav-btn {
        margin: 0 auto;
    }

    .nav-item:hover .nav-hover {
        background-color: rgba(255, 0, 0, 0);
    }

    #navbarSupportedContent {
        margin-top: 30px;
    }

    .banner-content h1 {
        padding-right: 0;
        font-size: 33px;
        margin-top: 20px;

    }

    .banner-content p {
        padding-right: 0;
        font-size: 13px;

    }

    .banner-content button {
        padding: 12px 15px;
        font-size: 15px;
        font-weight: 600;
        margin: 0 auto;
    }

    .banner-img picture img {
        margin-top: 35px;
        border-radius: 20px !important;
        margin-left: 0px;
    }

    .pla-btn-icon {
        top: 23%;
        left: 21%;
        transform: scale(0.6);
    }


    #workspace {
        margin-top: 50px;

    }

    .workspace-content p {
        margin-top: 11px;
        font-size: 15px;
        font-family: var(--popins);
        padding: 0px 20px;
        padding-bottom: 55px;
    }

    .workspace-header h2 {
        font-size: 30px;
        width: auto;
    }

    .workspace-content p {
        padding-bottom: 40px;
    }

    .workspace-content picture img {
        padding-top: 35px;

    }

    .schedule-header h2 {
        font-size: 25px;
        width: auto;
    }

    #schedule {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    

    .analytics-content p {
        font-size: 14px;
        width: auto;
        padding-right: 5px;
    }

    .analytics-content h5 {
        font-size: 18px;
        font-weight: 600;
    }

    .customer-content p {
        color: #C6C6C6;
        font-size: 17px;
        margin-top: -40px;
        margin-left: 0;
        text-align: center;
    }

    .customer-info h3 {
        margin-left: 0;
    }

    .customer-slide {
        margin-left: 0;
    }

    .helping-wrapper h2 {
        font-size: 25px;
        text-align: center;
    }

    .customer-info h3 {
        text-align: center;
    }

    .helping-wrapper p {
        font-size: 17px;
        width: auto;
        text-align: center;
        padding: 0 10px;
    }

    #helping {
        padding-bottom: 20px;
    }

    .helping-wrapper {
        background-color: #0C5F79;
        border-radius: 20px;
        padding: 45px 0px;
    }

    .footer-site-info p {
        padding-right: 0;
    }

    .footer-site-info {
        text-align: center;
    }

    .footer-social {
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .footer-location {
        text-align: center;
    }

    .analytics-content {
        padding-left: 30px;
    }

    .customer-vector-right img {
        width: 113%;
    }

.customer-vector-right {
    position: absolute;
    top: 500px;
    left: 375px;
    z-index: 1;
}

    .customer-vector-left img {
        width: 80%;
    }

    .customer-vector-left {
        position: absolute;
        top: 95px;
        left: -53px;
        z-index: 1;
    }
}

/* MD Device END */

/* XL Device Start */

@media(min-width:992px) and (max-width:1199px) {
    .navbar-brand {
        transform: scale(0.9);
    }

    .navbar-nav li {
        margin: 0 auto;
    }

    .nav-item {
        padding-left: 20px;
        padding-right: 0;
        position: relative;
    }

    .nav-btn {
        margin: 0 auto;
    }

    .navbar-nav li:first-child{
        padding-left: 0 !important;
    }

   #navbarSupportedContent {
       margin-top: 0;
   }

 .banner-content h1 {
     padding-right: 0;
     font-size: 45px;
     margin-top: 25px;
 }

   .banner-content p {
       padding-right: 0;
       font-size: 16px;
   }

    .banner-content button {
        padding: 12px 15px;
        font-size: 15px;
        font-weight: 600;
        margin: 0 auto;
    }

    .banner-img picture img {
        margin-top: 35px;
        border-radius: 20px !important;
        margin-left: 0px;
    }

.pla-btn-icon {
    top: 30%;
    left: 29%;
    transform: scale(0.6);
}

    #workspace {
        margin-top: 50px;

    }
.workspace-center{
    justify-content: space-around!important;
}
    .workspace-content p {
        margin-top: 11px;
        font-size: 15px;
        font-family: var(--popins);
        padding: 0px 20px;
        padding-bottom: 55px;
    }

    .workspace-header h2 {
        font-size: 30px;
        width: auto;
    }

   .workspace-content p {
       padding-bottom: 100px;
   }

    .workspace-content picture img {
        padding-top: 60px;
    }

   .schedule-header h2 {
	font-size: 30px;
	width: auto;
}

    #schedule {
        padding-top: 30px;
        padding-bottom: 0px;
    }


.analytics-content p {
    font-size: 14px;
    width: auto;
    padding-right: 26px;
}
    .analytics-content h5 {
        font-size: 18px;
        font-weight: 600;
    }

    .customer-content p {
        color: #C6C6C6;
        font-size: 17px;
        margin-top: -40px;
        margin-left: 0;
        text-align: center;
    }
.analytics-vector {
    margin-top: 17%;
}
    .customer-info h3 {
        margin-left: 0;
    }
.customer-content h2 {
    font-size: 33px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
}
    .customer-slide {
        margin-left: 0;
    }

   .helping-wrapper h2 {
       font-size: 30px;
       text-align: auto;
   }

    .customer-info h3 {
        text-align: start;
    }

   .customer-content p {
       color: #C6C6C6;
       font-size: 17px;
       margin-top: -40px;
       margin-left: 0;
       text-align: start;
   }
.customer-c-v {
    margin-left: -49px;
}
    #helping {
        padding-bottom: 20px;
    }

    .helping-wrapper {
        background-color: #0C5F79;
        border-radius: 20px;
        padding: 45px 0px;
    }

    .footer-site-info p {
        padding-right: 0;
    }

    .footer-site-info {
        text-align: center;
    }

    .footer-social {
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .footer-location {
        text-align: center;
    }

    .analytics-content {
        padding-left: 18px;
    }

    .customer-vector-right img {
        width: 113%;
    }

    .customer-vector-right {
        position: absolute;
        top: 289px;
        left: 206px;
        z-index: 1;
    }

    .customer-vector-left img {
        width: 80%;
    }

   .customer-vector-left {
       position: absolute;
       top: 65px;
       left: -84px;
       z-index: 1;
   }
  
}

/* XL Device End */