body{
    font-family: var(--popins);
}

:root{
    --redColor: #FF3A44;
    --gbColor:#0B4C61;
    --popins:'Poppins', sans-serif;
}

/* =====================
    Navbar Start
======================== */

.nav-item .nav-link{
   font-family: var(--popins);
font-size: 15px;
color: #333333 !important;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.navbar{
    margin-top: 20px;
}

.nav-btn {
    background-color: var(--redColor);
    color: white;
    font-family: var(--popins);
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 500px;
}
.nav-hover {
    height: 8px;
    width: 45px;
    transition: 0.3s;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: -35px;
    left: 28px;
}

.nav-hover-3 {
    top: -35px;
    left: 39px;
}

.nav-hover-4 {
    top: -35px;
    left: 47px;
}

.nav-hover-5 {
    top: -35px;
    left: 35px;
}
.nav-item:hover .nav-hover {
 background-color: var(--gbColor);
}

/* =====================
    Navbar End
======================== */

/* =====================
    Banner Section Start
========================== */

.banner-content h1{
    font-size: 48px;
    font-weight: bold;
    font-family: var(--popins);
    color: #333333;
    padding-right: 148px;
    margin-top: 110px;
}
.banner-content p {
    font-size: 16px;
    font-family: var(--popins);
    color: #888888;
    padding-right: 243px;
    margin-top: 20px;
}

.banner-content button {
    padding: 15px 27px;
    border-radius: 50px;
    border: none;
    background-color: #FF3A44;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.banner-img{
    position: relative;
}

.banner-img picture img {
    margin-top: 80px;
    border-radius: 20px !important;
    margin-left: -11px;
    
}

.pla-btn-icon {
    filter: drop-shadow(0px 0px 7px #FFBD2F);
    /* filter: drop-shadow(0px 4px 2px #000); */
    position: absolute;
    top: 211px;
    left: 212px;
}

.banner-vertor-img img {
    position: absolute;
    top: -12px;
    right: -95px;
    z-index: -1;
}

.banner-vertor-img-left img {
    position: absolute;
    top: 328px;
    left: -96px;
    z-index: -1;
}
/* =====================
    Banner Section End
========================== */


/* =====================
    Workspace Section Start
========================== */
#workspace {
    margin-top: 130px;
    padding-top: 8%;
    background: url(../img/Vector.png);
     background-repeat: no-repeat;
   background-size: 100%;
   position: relative;
}



#workspace .workspace-wrapper {
    background-color: #0B4C61;
}

.workspace-header p {
    width: 396px;
}

.workspace-header h2 {
    font-size: 38px;
    font-weight: bold;
    font-family: var(--popins);
    width: 687px;
}

/* 2nd row */

.workspace-content{
background-color: var(--redColor);
border-radius: 20px;
margin-top: 35px;
position: relative;
z-index: 5;
}

.workspace-content-2{
    background-color: #FFBD2F;
}
.workspace-content-3{
    background-color: #0489CA;
    
}
.workspace-content-3 h4{
    color: rgba(255, 255, 255, 0) !important;
}

.workspace-content picture img {
    padding-top: 45px;
    padding-bottom: 17px;
    filter: drop-shadow(0px 5px 3px #000);
}

.workspace-content h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--popins);
    padding: 0px 17px;
}

.workspace-content h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--popins);
    padding: 0px 15px;
}

.workspace-content p {
    margin-top: 11px;
    font-size: 15px;
    font-family: var(--popins);
    padding: 0px 20px;
    padding-bottom: 90px;
}
.for-vector{
    position: relative;
}
.workspace-vector-1 {
    position: absolute;
    z-index: 1;
    left: -130px;
    top: 105px;
}

.for-vector-2{
    position: relative;
}

.workspace-vector-2 {
    position: absolute;
    z-index: 1;
    left: 70px;
    top: 60px;
}
/* =====================
    Workspace Section End
========================== */

/* =====================
    Schedule Section Start
========================== */

#schedule {
    background-color: #0B4C61;
    padding-top: 85px;
    padding-bottom: 85px;
}

.schedule-header h2 {
    font-size: 38px;
    font-weight: bold;
    font-family: var(--popins);
    color: #fff;
    text-align: center;
    width: 770px;
}

.schedule-content h4{
font-size: 38px;
font-weight: bold;
color: #FFBD2F;
}
.schedule-content h5{
font-size: 18px;
font-weight: 600;
padding-bottom: 10px;
}

.schedule-content p{
    font-size: 15px;
    color: #D0D0D0;
}
/* =====================
    Schedule Section End
========================== */

/* =====================
    Analytics Section Start
========================== */

#analytisc{
    background-color: #0B4C61;
}

.analytics-content {
    background-color: #0C5F79;
    padding-left: 45px;
    padding-bottom: 10px;
    border-radius: 16px;
    padding-top: 15px;
    margin-top: 25px;
}
.analytics-content h5{
    font-size: 18px;
    font-weight: 600;
}
.analytics-content p {
    font-size: 15px;
    width: 380px;
    padding-top: 10px;
    color: #D0D0D0;
}

.analytics-vector picture img{
    width: 100%;
    object-fit: cover;
}

.analytics-content-top {
    margin-top: 55px;
}
/* =====================
    Analytics Section End
========================== */

/* =====================
    Customer Section Stary
========================== */
#customer{
    background-color: #0B4C61;
    padding-bottom: 80px;
}
.z-ind-5{
    position: relative;
    z-index: 5;
}
.customer-img {
    position: relative;
}
.customer-content h2{
    font-size: 38px;
    font-weight: bold;
    color: white;
}

.customer-vector-left {
    position: absolute;
    top: 95px;
    left: -100px;
    z-index: 1;
}

.customer-vector-right {
    position: absolute;
    top: 330px;
    left: 300px;
    z-index: 1;
}

.customer-content p {
    color: #C6C6C6;
    font-size: 22px;
    margin-top: -40px;
    margin-left: 49px;
}

.customer-info h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 49px;
}

.customer-slide{
    display: flex;
    width: 80px;
    margin-left: 43px;
}

.customer-slide-icon{
    height: 15px;
    width: 15px;
    background-color: #0D6785;
    border-radius: 50%;
}

.customer-slide-icon:first-child{
    background-color: #FFBD2F;
}
/* =====================
    Customer Section End
========================== */

/* =====================
    Helping Section Start
========================== */

#helping{
    background-color: #0B4C61;
    padding-bottom: 80px;
}

.helping-wrapper{
    background-color: #0C5F79;
    border-radius: 45px;
    padding: 75px 0px;
}

.helping-wrapper h2{
    font-size: 48px;
    font-weight: bold;
    
}

.helping-wrapper button{
    
    padding: 15px 27px;
    border-radius: 50px;
    border: none;
    background-color: #FF3A44;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}
.helping-wrapper p {
    font-size: 18px;
    width: 393px;
}

/* =====================
    Helping Section End
========================== */

/* =====================
    Footer Section Start
========================== */

#footer{
    background-color: #0B4C61;
    padding-bottom: 5px;
}

.footer-hr {
    margin: 0 auto;
    height: 1px;
    width: 85%;
    background-color: #196781;
    color: #000;
}

.footer-site-info p {
    font-size: 14px;
    color: #E6E6E6;
    padding-right: 40px;
}

.footer-social h4{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.footer-social p{
     font-size: 14px;
     color: #E6E6E6;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.footrt-i{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footrt-i i{
    margin-top: 10px;
}

.footer-links h4{
font-size: 18px;
font-weight: 600;
color: #fff;
}

.footer-links p a{
    font-size: 14px;
    color: #E6E6E6;
    text-decoration: none;
}

.footer-location{
    position: relative;
}

.footer-location h4{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  

}
.footer-location p{
    color: #E6E6E6;
}

.f-location {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.location-vector {
    position: absolute;
    top: 122px;
    left: 290px;
}
/* =====================
    Footer Section End
========================== */

/* =====================
    Copyright Section Start
========================== */

#copyright{
    background-color: #0B4C61;
    font-size: 14px;
    color: #E6E6E6;
}

/* =====================
    Copyright Section End
========================== */

