

:root{
    --redColor: #FF3A44;
    --gbColor:#0B4C61;
    --popins:'Poppins', sans-serif;
}

/* =====================
    Navbar Start
======================== */

.nav-item .nav-link{
   font-family: var(--popins);
font-size: 15px;
color: #333333 !important;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.navbar{
    margin-top: 20px;
}

.nav-btn {
    background-color: var(--redColor);
    color: white;
    font-family: var(--popins);
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 500px;
}
.nav-hover {
    height: 8px;
    width: 45px;
    transition: 0.3s;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: -35px;
    left: 28px;
}

.nav-hover-3 {
    top: -35px;
    left: 39px;
}

.nav-hover-4 {
    top: -35px;
    left: 47px;
}

.nav-hover-5 {
    top: -35px;
    left: 35px;
}
.nav-item:hover .nav-hover {
 background-color: var(--gbColor);
}

/* =====================
    Navbar End
======================== */

/* =====================
    Banner Section Start
========================== */

.banner-content h1{
    font-size: 48px;
    font-weight: bold;
    font-family: var(--popins);
    color: #333333;
    padding-right: 148px;
    margin-top: 110px;
}
.banner-content p {
    font-size: 16px;
    font-family: var(--popins);
    color: #888888;
    padding-right: 243px;
    margin-top: 20px;
}

.banner-content button {
    padding: 15px 27px;
    border-radius: 50px;
    border: none;
    background-color: #FF3A44;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.banner-img{
    position: relative;
}

.banner-img picture img {
    margin-top: 80px;
    border-radius: 20px !important;
    margin-left: -11px;
    
}

.pla-btn-icon {
    filter: drop-shadow(0px 0px 7px #FFBD2F);
    position: absolute;
    top: 211px;
    left: 212px;
}

.banner-vertor-img img {
    position: absolute;
    top: -12px;
    right: -95px;
    z-index: -1;
}

.banner-vertor-img-left img {
    position: absolute;
    top: 328px;
    left: -96px;
    z-index: -1;
}
/* =====================
    Banner Section End
========================== */